{% extends 'base.html' %}

{% block title %}Edit Product Page
{% endblock title %}

{% block head %}
{% endblock head %}

{% block body %}
<div class = "container" style = "margin-top:10px;margin-bottom:10px;">
<center><b><h2> Edit Your Product {{data.productId}}</h2></b></center>
<br>
<br>
    <form method = "POST" action = {% url 'updateProduct' productIdIn=data.productId %} enctype = "multipart/form-data">
    {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Product Name</span>
            <input type="text" class="form-control" aria-label="Sizing example input" value = "{{data.productName}}" name = "productName" aria-describedby="inputGroup-sizing-default" required>
        </div>
        
        <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Category</span>
        
        <select class="form-select" value = "{{data.category}}" name = "category" aria-label="Default select example">
            <option value="{{data.category}}" selected>{{data.category}}</option>
            {% if data.categories %}
            {% for category in data.categories %}
            <option value="{{category}}">{{category}}</option>
            {% endfor %}
            {% endif %}
        </select>

        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Actual Price</span>
            <span class="input-group-text">₹</span>
            <input type="number" value = {{data.actual}} name = "actual" class="form-control" aria-label="Amount (to the nearest dollar)"  min="0" required>
            <span class="input-group-text">.00</span>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Selling Price</span>
            <span class="input-group-text">₹</span>
            <input type="number" value = {{data.selling}} name = "selling" class="form-control" aria-label="Amount (to the nearest dollar)"  min="0" required>
            <span class="input-group-text">.00</span>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Discount Coupon</span>
            <input type="text" value = "{{data.discount}}" name = "discount" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Description of the Product</span>
            <textarea class="form-control" name = "description" id="exampleFormControlTextarea1" rows="3">{{data.description}}</textarea>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Stock</span>
            <input type="number" value = {{data.stock}} name = "stock" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" min = 1 required>
        </div>

        <hr>
        <h5>Product Images</h5>
        <div class="mb-3">
            <label for="formFile" class="form-label">First Image</label>
            <input class="form-control" name = "image1" type="file" id="formFile" required>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Second Image</label>
            <input class="form-control" name = "image2" type="file" id="formFile" required>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Third Image</label>
            <input class="form-control" name = "image3" type="file" id="formFile" required>
        </div>
        <hr>    

        <center>
        <button type="submit" class="btn btn-success">POST</button>
        </center>

    </form>

</div>
{% endblock body %}